body {
    background-image: url(https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    position: relative;
    z-index: 1;
}
.navbar {
    position: relative; 
    display:flex;
    align-items: center;
    padding: 25px;
}

#name {
    background: #4aaaa5;
    color: #ffffff;
    box-sizing: border-box;
    padding: 10px;
}
 .row {
     flex-wrap: wrap;
     display: flex;
 }

 #index {
     width: 1050px;
     text-align: left;
     position: static;
     margin: 40px auto 0px auto;
     padding-bottom: 0px;
     border: solid #090433;
     background: #cccccc;
 }

 #main-header {
     background: white;
     color: #4aaaa5;
     padding-left: 20px;
 }

 #biostuff {
     margin: 1.5%;
 }

 #mypic
 {
     transform: rotate(270deg);
 }

 footer {
     padding: 30px 0;
     clear: both;
     font-size: 12px;
     color: #cccccc;
     text-align: center;
     background: #666666;
     border-top: 8px solid #4aaaa5;
     height: 50px;
     width: 100%;
     position: fixed;
     bottom: 0;

 }