body {
    background-image: url(https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    position: relative;
    z-index: 1;
}

/*about me section*/

.navbar {
    position: relative; 
    display:flex;
    align-items: center;
    padding: 25px;
}

#name {
    background: #4aaaa5;
    color: #ffffff;
    box-sizing: border-box;
    padding: 10px;
}
 .row {
     flex-wrap: wrap;
     display: flex;
 }

 #index {
     width: auto;
     text-align: left;
     position: static;
     margin: 3.5%;
     border: solid #090433;
     background: #cccccc;
     margin-top: -1.5%;
     margin-bottom: 6.5%;
 }

 #about-me-header {
     background: #4aaaa5;
     color: #ffffff;
     position: static;
     padding-left: 1.5%;
     width: 18%;
     margin: 1.5%;
     padding-bottom: 0%;
 }

 #biostuff {
     margin: 1.5%;
 }

 #mypic
 {
     transform: rotate(270deg);
     margin: 25%;
     margin-left: -10%;
     margin-bottom: 30%;
 }

 footer {
     padding: 1.5%;
     clear: both;
     font-size: 12px;
     color: #cccccc;
     text-align: center;
     background: #666666;
     border-top: 8px solid #4aaaa5;
     height: 10.5%;
     width: 100%;
     position: fixed;
     bottom: 0;
 }

 /*portfolio stuff*/
 
 #portfolio {
    width: auto;
    height: auto;
    position: static;
    background: #cccccc;
    padding: 2%;
    margin: 10%;
    margin-top: 1.5%;
 }

 #portfolio-header {
    background: #4aaaa5;
    color: #ffffff;
    position: static;
    margin-top: -1.5%;
    padding: 0.5%;
    width: 18%;
 }

 #hangman {
     float: left;
     margin: 1.5%;
 }

 #rpg {
     float: left;
     margin: 1.5%;
 }

 #rps {
     float: left;
     margin: 1.5%;
 }

 #trivia {
     float: left;
     margin: 1.5%;
 }
 
 #rutgers {
     float: left;
     margin: 1.5%;
 }

 /*contact page stuff*/

 #contact-header {
    background: #4aaaa5;
    color: #ffffff;
    position: static;
    margin-top: -1.5%;
    padding: 0.5%;
    width: 18%;
    margin-left: -1.5%;
 }

 #contact {
     clear: both;
     width: auto;
     height: auto;
     position: static;
     background: #cccccc;
     color: black;
     margin: 5%;
     padding: 2%;
     margin-bottom: 10%;
 }

 .form-area {
     padding: 1.5%;
 }